:root {
    --background-color: #EFEFEF;
    --accent-color: darkorchid;
    --dark-font-color: #333;
    --light-font-color: #FAFAFA;
    font-family: 'Arial', sans-serif;
    color: var(--dark-font-color);
}